<dt>
	<%= link_to h(post.title), post_seo_path(@blog, post) %>
	<span><%= l post.posted_at, :format => :date_full %></span>
</dt>
<dd>
	<p><%= truncate(strip_tags(post.body), length: 230).html_safe %></p>
	<%= link_to "Читать далее", post_seo_path(@blog, post) %>
</dd>