

<fieldset>
  <center>
  <h1>Изображения для товаров</h1>
	<ol>
	<li>Загрузите товары</li>
	<li>Загрузите изображения на FTP в папку "/shared/system/images_without"</li>
	<li>Выполните комманду <%= link_to "З", @load_pictures %> </li>
	</ol>
  </center>
</fieldset>