<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->


  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body>
	<div id="container">	
      <%= render :partial => 'spree/shared/header' %>
      <%= yield %>
    </div>
    <%= render :partial => 'spree/shared/footer' %>
  </body>

</html>
