
	<div id="left">
		<ul class="l-menu basket-link">
			<li><a href="basket.html">корзина</a></li>
		</ul>
		
		<ul class="basket-menu"> 
			<li class="dark-color bm-first">ваш аккаунт</li>
			<li class="two-colors">оплата</li>
			<li class="one-light-color">получение</li>
		</ul>
	</div>
	<div id="right" class="checkout-block">
		<h1>Оформление покупки: шаг 2 из 3</h1>
		<span class="checkout-back"><a href="checkout-1.html">назад</a></span>
		<span class="cb-title">представьтесь:</span>
		
		<form name="auth-form" method="POST" id="auth-form" action="#" class="cb-form cb-user-data">
			<input name="af-name" type="text" value="Ваше имя" onfocus="if (value=='Ваше имя') value='';" onblur="if (value=='') value='Ваше имя';">
			<input name="af-surname" type="text" value="Ваша фамилия" onfocus="if (value=='Ваша фамилия') value='';" onblur="if (value=='') value='Ваша фамилия';">
			<input name="af-city" type="text" value="Город" onfocus="if (value=='Город') value='';" onblur="if (value=='') value='Город';">
			<input name="af-address" type="text" value="Адрес доставки" onfocus="if (value=='Адрес доставки') value='';" onblur="if (value=='') value='Адрес доставки';">
			<input name="af-phone" type="text" value="Контактный телефон" onfocus="if (value=='Контактный телефон') value='';" onblur="if (value=='') value='Контактный телефон';">
		
			<span class="cb-title cb-title-mid">Способ оплаты:</span>
		
			<ul class="choice-list">
				<li><input type="radio" name="pay-type" id="pt-cash" checked><label for="pt-cash">Налиными при получении</label></li>
				<li><input type="radio" name="pay-type" id="pt-card"><label for="pt-card">Банковской картой</label></li>
				<li><input type="radio" name="pay-type" id="pt-yd"><label for="pt-yd">Яндекс-деньгами</label></li>
				<li><input type="radio" name="pay-type" id="pt-bill" ><label for="pt-bill">Безналичный расчет (юридическое лицо)</label></li>
			</ul>

			<a href="checkout-3.html" class="cf-button">продолжить</a>

		</form>
		
		<div class="payments"><img src="img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
	</div>
</div>
