
	<h1>Оформление покупки: шаг 2 из 3</h1>
	<span class="checkout-back"><a href="javascript:history.back()">назад</a></span>
	<span class="cb-title">способы доставки:</span>
	
	<span style="color: red">
		 <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
		</br>
	</span>
	
		<ul class="choice-list">
		<% @order.rate_hash.each do |shipping_method| %>
			<li><%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %><%= shipping_method[:name] %></li>
		<% end %>
		</ul>
		<%= submit_tag "готово", :class => 'cf-button' %>