	<h1>Оформление покупки: шаг 2 из 3</h1>
	<span class="checkout-back"><a href="checkout-1.html">назад</a></span>
	<span class="cb-title">Способ оплаты:</span>
	
	<span style="color: red">
		 <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
		</br>
	</span>

		<ul class="choice-list">
			<% @order.available_payment_methods.each do |method| %>
			<li><%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %><%= t(method.name, :scope => :payment_methods, :default => method.name) %></li>
			<% end %>
		</ul>
		<%= submit_tag "продолжить", :class => 'cf-button' %>
	    <script>disableSaveOnClick();</script>
