<div id="left">
	<ul class="l-menu basket-link">
		<li><a href="basket.html">корзина</a></li>
	</ul>
	
	<ul class="basket-menu"> 
		<li class="dark-color bm-first">ваш аккаунт</li>
		<li class="two-colors">оплата</li>
		<li class="one-light-color">получение</li>
	</ul>
</div>
<div id="right" class="checkout-block">
	<h1>Оформление покупки: шаг 2 из 3</h1>
	<span class="checkout-back"><a href="checkout-1.html">назад</a></span>
	<span class="cb-title">Способ оплаты:</span>
	

		<ul class="choice-list">
			<% @order.available_payment_methods.each do |method| %>
			<li><%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %><%= t(method.name, :scope => :payment_methods, :default => method.name) %></li>
			<% end %>
		</ul>
		<%= submit_tag "продолжить", :class => 'cf-button' %>
	    <script>disableSaveOnClick();</script>


	
	<div class="payments"><img src="/img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
</div>
</div>