<div id="middle">
<% content_for :head do %>
  <%= javascript_include_tag states_url(:format => :js) %>
<% end %> 
 <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
    <%= render @order.state, :form => form %>
    <%= submit_tag nil, :id => 'post-final', :style => 'display:none;' %>
  <% end %>

<div class="copyright">Allmusicmarket © 2012. Все права защищены, блять. Пошли все нахуй</div>
<div class="footer-space"></div>
</div>