.no_product {
	margin-left: 30px;
	margin-top: 80px;
	margin-bottom: 250px;
}

.pagination {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: -20px;
}

.content {
	min-height: 90px;
}

.availability_status {
	margin-bottom: 10px;
}

.on_hand {
	color: #33CC00;
}

.ready_for_order, .is_waited {
	color: #999999;
}

.no_available {
	color: #CC0033;
}

.brands {
	width: 600px;
	margin-top: 20px;
	margin-left: 50px;
}

.brands-column:last-child {
	margin-bottom: 40px;
}

.brands-column {
	width: 300px;
	float: left;
}

.brands-column a {
	line-height: 150%;
	font-size: 12px;
}

.instruction {
	width: 150px;
	height: 150px;
	text-align: center;
}

.instruction a {
	float: left;
}

.pdf {
	padding-left: 60px;
}


