	<div id="middle">
		<div id="left">
		
		</div>
		<div id="right" class="news-list">
			<h1>Новости компании</h1>
			
			<% if @posts.blank? %>
		    <h2><%= t('spree.blogs.no_posts') %></h2>
		  <% else %>
			<dl>
		    <%= render :partial => 'spree/blogs/shared/preview', :collection => @posts, :as => :post %>
			<dl>
		  <% end %>
			
			<ul class="paging">
			<%= paginate @posts %>
			</ul>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>