<div id="middle">
	
	<div id="left">
	</div>
	
	<div id="right" class="checkout-block" style="padding-bottom: 50px">
		<h1>Регистрация</h1>
		
		<%= form_for :user, :url => spree.user_registration_path(@user), :html => {:class => "cb-form"} do |f| %>
	        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
	        <a href="#" class="cf-button" id="sbtn">Войти</a>
	    <% end %>
	    <%= t(:or) %> <%= link_to t(:login_as_existing), spree.login_path %>
		
	</div>
	
</div>

<div class="copyright">Allmusicmarket © 2012. Все права защищены, блять. Пошли все нахуй</div>
<div class="footer-space"></div>