	<div id="footer">
		<div class="f-inside">
			<div class="fi-item">
				<ul>
					<li><a href="#">Условия заказа</a></li>
					<li><a href="#">Условия доставки</a></li>
					<li><a href="#">Адреса магазинов</a></li>
					<li><a href="#">Для партнеров</a></li>
				</ul>

				<ul>
					<li><a href="#">Торговые марки</a></li>
					<li><a href="#">Категории товаров</a></li>
					<li><a href="#">Новинки продукции</a></li>
					<li><a href="#">Статьи и обзоры</a></li>
				</ul>

				<ul>
					<li><a href="#">Регистрация на сайте</a></li>
					<li><a href="#">Восстановление пароля</a></li>
					<li><a href="#">Как стать нашим дилером?</a></li>
					<li><a href="#">Сертификаты</a></li>
				</ul>
			</div>

			<div class="fi-item">
				<ul>
					<li><a href="#">Фотогалерея</a></li>
					<li><a href="#">Отзывы и предложения</a></li>
					<li><a href="#">Форум</a></li>
					<li><a href="#">Дополнительные услуги</a></li>
				</ul>

				<ul>
					<li><a href="#">Инсталляции</a></li>
					<li><a href="#">Анонсы новинок, объявления</a></li>
					<li><a href="#">Руководства на русском</a></li>
					<li><a href="#">Руководства на английском</a></li>
				</ul>

				<ul>
					<li><a href="#">Новости на сайте</a></li>
					<li><a href="#">Пресса</a></li>
					<li><a href="#">Мы Вконтакте</a></li>
					<li><a href="#">Видео</a></li>
				</ul>
			</div>

			<div class="fi-item">
				<ul>
					<li><a href="#">Прайс-лист</a></li>
					<li><a href="#">Товары в распродаже</a></li>
					<li><a href="#">Некондиция</a></li>
					<li><a href="#">Каталоги электронные</a></li>
				</ul>

				<ul>
					<li><a href="#">Консультанты</a></li>
					<li><a href="#">Расширенный поиск</a></li>
					<li><a href="#">Изготовление кейсов и кофров</a></li>
					<li><a href="#">Наши вакансии</a></li>
				</ul>							
								
				<form accept-charset="UTF-8"  id="f-search" class="f-search" method="GET" action="/products">
					<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
					<input id="keywords" name="keywords" name="q" value="поиск по сайту" onfocus="if (value=='поиск по сайту') value='';" onblur="if (value=='') value='поиск по сайту';" />
					<input type="submit" value="Найти" title="Найти">
				</form>

				
			</div>

			<div class="fi-item fi-item-last">
				<div class="f-notice">
				Наш адрес: 195279, г. Санкт-Петербург,<br />
				Шоссе Ревомлюции, дом 69<br />
				Телефон: тел: (812) 454-16-00<br />
				E-mail: <a href="mailto:info@fitnessbar.ru">info@fitnessbar.ru</a>
				</div>

				<div class="f-social">
					<a href="http://vk.com/allmusicmarket" target="_blank" title="Мы в Контакте" class="f-vk">Мы в Контакте</a>
					<a href="#" title="Мы в Facebook" class="f-fb">Мы в Facebook</a>
					<a href="#" title="Мы в LinkedIn" class="f-li">Мы в LinkedIn</a>
					<a href="#" title="Мы в Twitter" class="f-tw">Мы в Twitter</a>
				</div>

				<div class="f-develop">
					<a href="#" title="Zero b2b" class="zero-logo">Zero b2b</a>
					<span>сделано в <a href="#" title="Zero b2b">zero b2b</a></span>
				</div>
			</div>
		</div>
	</div>