<div class="slider-wrap" id="slider-idx">
	<ul>
		<li>
			<img src="img/picture/slider-1.jpg" width="940" height="460" alt="slider-1">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки 2</span>
				<div class="st-text">2 гитары от ведущих производителей США и Англии — многие очумели от наших чумовых цен, очумей и ты! <a href="#" class="st-detail">подробней</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-2.jpg" width="940" height="460" alt="slider-2">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки</span>
				<div class="st-text">гитары от ведущих производителей США и Англии — многие очумели от наших чумовых цен, очумей и ты! <a href="#">подробней</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-3.jpg" width="940" height="460" alt="slider-3">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки 3</span>
				<div class="st-text">3 гитары от ведущих производителей США и Англии — многие очумели от наших чумовых цен, очумей и ты! <a href="#">подробней</a></div>
			</div>
		</li>
	</ul>

	<div id="s-pagination"></div>
</div>

	<ul class="banners-small">
		<li>
			<img src="img/picture/banner-s-1.jpg" width="310" height="140" alt="banner-s-1">
			<span class="bs-title">инструменты</span>
			<a href="#" title="инструменты" class="bs-link">смотреть</a>
		</li>
		
		<li class="bs-middle">
			<img src="img/picture/banner-s-2.jpg" width="320" height="140" alt="banner-s-2">
			<span class="bs-title">dj-оборудование</span>
			<a href="#" title="dj-оборудование" class="bs-link">смотреть</a>
		</li>
		
		<li>
			<img src="img/picture/banner-s-3.jpg" width="310" height="140" alt="banner-s-3">
			<span class="bs-title">доставка хоть куда</span>
			<a href="#" title="доставка хоть куда" class="bs-link">смотреть</a>
		</li>
	</ul>