<div class="slider-wrap" id="slider-idx">
	<ul>
		<li>
			<img src="img/picture/slider-1.jpg" width="940" height="460" alt="slider-1">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки 2</span>
				<div class="st-text">2 гитары от ведущих производителей США и Англии — многие охуели от наших чумовых цен, охуей и ты! <a href="#" class="st-detail">подробней</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-2.jpg" width="940" height="460" alt="slider-2">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки</span>
				<div class="st-text">гитары от ведущих производителей США и Англии — многие охуели от наших чумовых цен, охуей и ты! <a href="#">подробней</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-3.jpg" width="940" height="460" alt="slider-3">
			<div class="slider-text">
				<span class="st-title">Гитары для быстрой точки 3</span>
				<div class="st-text">3 гитары от ведущих производителей США и Англии — многие охуели от наших чумовых цен, охуей и ты! <a href="#">подробней</a></div>
			</div>
		</li>
	</ul>

	<div id="s-pagination"></div>
</div>