<div class="slider-wrap" id="slider-idx">
	<ul>
		<li>
			<img src="img/picture/slider-1.jpg" width="940" height="460" alt="slider-1">
			<div class="slider-text">
				<span class="st-title">Гитары на любой вкус</span>
				<div class="st-text">гитары от ведущих производителей — от классики до электромонстров! <a href="/t/katieghorii/gitary" class="st-detail">смотреть</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-2.jpg" width="940" height="460" alt="slider-2">
			<div class="slider-text">
				<span class="st-title">световое оборудование</span>
				<div class="st-text">хотите выбрать что-то действительно яркое? тогда вы по адресу! <a href="/t/katieghorii/svietovoie-oborudovaniie">смотреть</a></div>
			</div>
		</li>

		<li>
			<img src="img/picture/slider-3.jpg" width="940" height="460" alt="slider-3">
			<div class="slider-text">
				<span class="st-title">DJ-оборудование</span>
				<div class="st-text">у нас широкий выбор, как для новичков, так и для профи <a href="/t/katieghorii/new-node">смотреть</a></div>
			</div>
		</li>
		
		<li>
			<img src="img/picture/slider-4.jpg" width="940" height="460" alt="slider-3">
			<div class="slider-text">
				<span class="st-title">струнные инструменты</span>
				<div class="st-text">скрипки, виолончели, альты, и многое другое! <a href="/t/katieghorii/strunnyie-instrumienty">смотреть</a></div>
			</div>
		</li>
		
		<li>
			<img src="img/picture/slider-5.jpg" width="940" height="460" alt="slider-3">
			<div class="slider-text">
				<span class="st-title">Проекты и инсталляции</span>
				<div class="st-text">мы сможем разработать и собрать проекты от кафе до концертной площадки <a href="/Projects-promo">смотреть</a></div>
			</div>
		</li>
		
	</ul>

	<div id="s-pagination"></div>
</div>

	<ul class="banners-small">
		<li>
			<img src="img/picture/banner-s-1.jpg" width="310" height="140" alt="banner-s-1">
			<span class="bs-title">Музыкальные инструменты</span>
			<a href="/Music-promo" class="bs-link">смотреть</a>
		</li>
		
		<li class="bs-middle">
			<img src="img/picture/banner-s-2.jpg" width="320" height="140" alt="banner-s-2">
			<span class="bs-title">Проекты и инсталляции</span>
			<a href="/Projects-promo" class="bs-link">смотреть</a>
		</li>
		
		<li>
			<img src="img/picture/banner-s-3.jpg" width="310" height="140" alt="banner-s-3">
			<span class="bs-title">доставка</span>
			<a href="/delivery" class="bs-link">смотреть</a>
		</li>
	</ul>