<div id="catalogue-menu">
  <span class="cm-title cm-title-grey">у нас кое что есть для вас:</span>
    <% cache('taxonomies') do %>
    <%= taxons_tree(Spree::Taxonomy.first.root, @taxon, 3) %>
    <% end %>
	<ul>
	  <a href="/brands" class="cm-title">Бренды</a>
	</ul>		
</div>
	
	
	
	