





	<div id="catalogue-menu">
		<span class="cm-title cm-title-grey">у нас кое что есть для вас:</span>
		
	  <%= taxons_tree(Spree::Taxonomy.first.root, @taxon, 3) %>
	<ul>
	<a href="/brands" class="cm-title">Бренды</a>
	</ul>		
	</div>
	
	
	
	